<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
  <script type="text/javascript" src="javascripts/jquery-2.2.0.js"></script>
  	<div id="navigation">
  		<div class="container">
	  			<ul>
	  				<a href="game"><li>Home</li></a>
	  				<a href="highscores"><li>High Scores</li></a>
	  				<a href="characters"><li>Characters</li></a>
	  				<a href="about"><li>About</li></a>
          </ul>
          <div id="userNav">
            {{#unless hbsObject.logged_in}}
              <a href="game">log in</a>
            {{/unless}}
            {{#if hbsObject.logged_in}}  
                {{hbsObject.username}}<br> <a id="logout" href="logout">Logout</a>
            {{/if}}
          </div>
  		</div>
    </div>
    <div class="clearfix"></div>
    {{{body}}}
  </body>
</html>
