<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript" src="javascripts/jquery-2.2.0.js"></script>
    <script language="javascript" src="javascripts/jquery.hotkeys.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/key_status.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/util.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/sprite.js" type="text/javascript"></script>
    <script language="javascript" src="javascripts/sound.js" type="text/javascript"></script>
  </head>
  <body>
  	<div id="navigation">
  		<div class="container">
	  			<ul>
	  				<a href="game"><li>Home</li></a>
	  				<a href="highscores"><li>High Scores</li></a>
	  				<a href="characters"><li>Characters</li></a>
	  				<a href="about"><li>About</li></a>
	  			</ul>
  		</div>
    </div>
    <div class="clearfix"></div>
    {{{body}}}
  </body>
</html>
