<div id="loading_mask"><img src="images/marvel_logo.png"></div>
<form id="availableForm">
	<label>
		<input type="radio" name="availability" value="true"> Public: Anyone can join!
		<img src="/images/unlock.png">
	</label>
	<label>
		<input type="radio" name="availability" value="false" checked>
		<img src="/images/lock.png">
		Private: Invite a friend!
	</label>
</form>
<p id="link">Link for others to join your game! mighty-caverns-99251.herokuapp.com/game<span id="host">{{hbsObject.hostedGameId}}</span></p>
<div id="lobby-container">
	<div id="available">

	</div>
	<div id="unavailable">

	</div>

	<div id="chat-lobby">
		<div id="messageBoard-lobby">
		</div>
		<form id="newmsg">
			<span id="userName">{{hbsObject.username}}</span>
			<input type="hidden" name="user" value="{{hbsObject.username}}">
			<input name="usermsg" type="text" id="usermsg" size="63" />
			<input type="submit">
		</form>
	</div>
</div>
<script type="text/javascript" src="javascripts/lobby.js"></script>
<script type="text/javascript" src="javascripts/moment.js"></script>
<script type="text/javascript">
$('input[name=availability]').on('change', function(){

	$('#availableForm').submit();
})

$('#availableForm').submit(function(e){
	e.preventDefault();
	$.ajax({
		type: "POST",
		url: '/api/available',
		data: $(this).serialize(), // serializes the form's elements.
		success: function(data)
		{
			console.log('success')
		}
	});
})

$('#newmsg').submit(function(e){
	e.preventDefault();

	$.ajax({
		type: "POST",
		url: '/api/lobbypost',
		data: $(this).serialize(), // serializes the form's elements.
		success: function(data)
		{
			console.log('success')
		}
	});
});



</script>
