<div class="form-container">
<p>Link for others to join your game! localhost:8000/game/join/<span id="host">{{hostedGameId}}</span></p>
	<div id="available">
		
	</div>
	<div id="unavailable">

	</div>
</div>

<script type="text/javascript" src="javascripts/lobby.js"></script>