<div class="form-container">
	<div id="login-module">
	<h2>{{message}}</h2>
		<form action="game/signup" method="POST">
			<h2>Sign Up</h2>
			<input type="text" name="username" placeholder="Username"><br>
			<input type="password" name="password" placeholder="Password"><br>
			<input type="submit">
		</form>
		<form action="game/login" method="POST">
			<h2>Log In</h2>
			<input type="text" name="username" placeholder="Username"><br>
			<input type="password" name="password" placeholder="Password"><br>
			<input type="submit">
		</form>
	</div>
</div>