<div id="host" style="display:none">{{hbsObject.hostedGameId}}</div>
<h1 id="player" style="display:none">{{hbsObject.playerOne}}</h1>
<script type="text/javascript" src="javascripts/updater.js"></script>
<script type="text/javascript" src="javascripts/testgame.js"></script>