body {
	/*background-color: #ad1b0c;
	background-image: url("http://www.transparenttextures.com/patterns/az-subtle.png");
  border-color: #BBB #777;
  border-style: solid;
  background: linear-gradient(to bottom right, #FF0000, #420202);*/
}
/* Navigation styles */
/*================================================*/
#navigation .container > li {
	list-style: none;

	/*padding: 20px 0px	;*/
}

#navigation .container > ul {
	vertical-align: top
	max-width: 600px;
	display: inline-block;
}

#navigation .container > ul a {
	display: inline-block;
	border: 1px solid black;
	width: 130px;
	height: 80px;
	text-align: center;
	padding-top: 5px;
	font-size: 1.2em;
	margin: 0px 10px;
	border-radius: 3px;
}

#navigation .container {
	border-bottom: 1px solid black;
	width:800px;
	margin: 0px auto;
}

#userNav {
	float: right;
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;

}



/* Current Character styles */
/*================================================*/
#current-char {
	width: 300px;
	height: 430px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
}

#char-picture > img {
	width: 290px;
	max-height: 290px;
	padding: 20px;
	border-radius: 30px;
}
.left-float {
	float: left;
}

.clearfix {
	clear: both;
}
.character {
	width: 100px;
	max-height: 100px;
	cursor: pointer;
	border-radius: 10px;
}

.form-container {
	width: 665px;
	margin: 0 auto;
}

#character-list {
	float: right;
	width: 350px;
	max-height: 430px;
	overflow-y: scroll;
	padding: 20px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid black;
}

#character-list li {
	min-width: 100px;
	min-height: 100px;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	display: inline-block;
}
#character-list label > input {
	display: none;
}

input[type="radio"]:checked + img {
	border: 3px solid white;
	box-shadow: 0px 0px 15px 2px black;
}

/* Game page styles */
/*================================================*/

#game-wrapper {
	padding-top: 5px;
	background-image: url(/images/dark-matter.png), linear-gradient(to bottom right, #FF0000, #420202);
	border-color: #BBB #777;
	border-style: solid;
	/*background: linear-gradient(to bottom right, #FF0000, #420202) url(/images/az-subtle.png);*/
}

#map-view-container .map-view .container > ul {
	list-style: none;
	min-width: 680px;
	/*max-width: 700px;*/
	margin: 15px auto 0px auto;
	padding-bottom: 20px;
	display: inline-block;
}

.player-one {
	border-radius: 10px;
	display: inline-block;
	background-color: #EEE;
	box-shadow: 0px 0px 8px #000 inset;
	border-width: 2px;
	border-color: #666 #777 #AAA #777;
	border-style: solid;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	font-size: 1.3em;
	margin: 0px 10px;
}

.player-two {
	border-radius: 10px;
	display: inline-block;
	background-color: #EEE;
	box-shadow: 0px 0px 8px #000 inset;
	border-width: 2px;
	border-color: #666 #777 #AAA #777;
	border-style: solid;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	font-size: 1.3em;
	margin: 0px 10px;
}

#map-view-container .map-view .container {
	width: 840px;
  display: inline-block;
	margin-top: 14px;
	height: 180px;
}

#map-view-container {
   width: 100%;
   text-align: center;
}

.map-view {
	border-radius: 20px;
	background: url(/images/az-subtle.png), linear-gradient(#999, #000);
  box-shadow: 0px 0px 26px #381F0C inset;
  border-width: 3px;
  border-color: #5F4A4A #582626 #3E2B2B #483535;
  border-style: solid;
  background-color: #999;
  /* padding: 15px; */
  width: 1175px;
  height: 195px;
  /* border: 1px solid black; */
  margin: 10px auto;
  position: relative;
}

#roll {
	box-shadow: 0px 0px 8px #333 inset;
  border-width: 2px;
  border-color: #8C8673 #8E825A #6F84CA #8E825A;
  border-style: solid;
  background-color: #000;
  height: 160px;
  margin: 15px;
  float: left;
  display: inline-block;
  width: 200px;
  border-radius: 30px;
}

.roll-choice {
	font-family: 'Oswald', sans-serif;
	background-color: #ECB242;
	display: inline-block;
	border-width: 2px;
	border-color: #5E421A #8E825A;
	border-style: solid;
	width: 38px;
	height: 38px;
	text-align: center;
	padding-top: 10px;
	font-size: .8em;
	margin: 0px 10px;
	border-radius: 3px;
}

#roll-click {
	font-family: 'Oswald', sans-serif;
	box-shadow: 0px 0px 8px #05294E inset;
  background-color: #0C4F92;
  color: #fff;
  padding-top: 20px;
  font-size: 18pt;
  display: inline-block;
  border-width: 2px;
  border-color: #2D5170 #2D5170;
  border-style: solid;
  border-radius: 70px;
  height: 70px;
  width: 70px;
}

#action-container {
	width: 1175px;
	margin: 0 auto;
}

#player-stats {
	font-family: 'Oswald', sans-serif;
	border-radius: 20px;
	background: linear-gradient(#EEE, #999);
	vertical-align: top;
	display: inline-block;
	text-align: center;
	border-width: 2px;
	border-color: rgba(121, 18, 18, 0.76);
	border-style: solid;
	box-shadow: 0px 0px 8px #008EFF inset;
	width: 183px;
	height: 350px;
	margin: 0px auto 10px auto;
	position: relative;
}

#player-stats ul {
margin-top: 30px;
}

#player-stats ul li {
	padding: 5px 0px 5px 0px;
}

#player-image{
	box-shadow: 0px 0px 25px #000;
  width: 153px;
  margin-top: 15px;
}

#action-view {
	vertical-align: top;
	position: relative;
	display: inline-block;
	text-align: center;
	width: 800px;
	height: 350px;
	border-width: 2px;
	border-color: rgba(121, 18, 18, 0.76);
	border-style: solid;
	box-shadow: 0px 0px 8px #008EFF inset;
	margin: 0px auto 10px auto;
	position: relative;
}

#enemy-stats {
	font-family: 'Oswald', sans-serif;
	border-radius: 20px;
	background: linear-gradient(#999, #444);
	vertical-align: top;
	display: inline-block;
	text-align: center;
	border-width: 2px;
	border-color: rgba(121, 18, 18, 0.76);
	border-style: solid;
	box-shadow: 0px 0px 8px #008EFF inset;
	width: 183px;
	height: 350px;
	margin: 0px auto 10px auto;
	position: relative;
}

.defense-option {
	position: absolute;
	left: 145px;
	width: 500px;
	color: white;
}

/*Lobby View*/
/*================================================*/
#available {
	float: left;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
}

#unavailable {
	float: right;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
}

#loading_mask {
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,1);
    transition: background-color 3s;
}

#loading_mask img {
	position: absolute;
   top: 50%;
   left: 50%;
   width: 700px;
   height: 500px;
   margin-top: -250px;
   margin-left: -350px;
   opacity: .5;"
}

.myhidden {
	z-index: -9;
	box-shadow: 0px 0px 50px 10px black inset;
	background-color: rgba(0,0,0,.5);
}

/*Admin Page*/
/*================================================*/
.Acontainer {
	width: 800px;
	padding: 10px;
	margin: 0 auto;
}

.charContainer {
	width: 700px;
	display: inline-block;
}
.charContainer img {
	width: 180px;
	display: inline-block;
}

.charContainer form {
	float: right;
	width: 450px;
}

#newCharacter form {
	width: 325px;
	float: left;
}

#newCharacter form input{
	width: 100%;
	float: left;
}
#newCharacter img {
	width: 300px;
	float: right;
}

#delete .charContainer {
	width: 250px;
	display: inline-block;
}

#delete .charContainer form{
	float: none;
}
