/* Navigation styles */
/*================================================*/
#navigation .container > li {
	list-style: none;

	/*padding: 20px 0px	;*/
}

#navigation .container > ul {
	vertical-align: top 
	max-width: 600px;
	display: inline-block;
}

#navigation .container > ul a {
	display: inline-block;
	border: 1px solid black;
	width: 130px;
	height: 80px;
	text-align: center;
	padding-top: 5px;
	font-size: 1.2em;
	margin: 0px 10px;
	border-radius: 3px;
}

#navigation .container {
	border-bottom: 1px solid black;
	width:800px;
	margin: 0px auto;
}

#userNav {
	float: right;
	display: inline-block;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5px;

}
/* Game page styles */
/*================================================*/

}
/* Current Character styles */
/*================================================*/
#current-char {
	width: 300px;
	height: 430px;
	border: 1px solid black;
	border-radius: 10px;
	text-align: center;
	margin-top: 10px;
}

#char-picture > img {
	width: 290px;
	max-height: 290px;
	padding: 20px;
	border-radius: 30px;
}
.left-float {
	float: left;
}

.clearfix {
	clear: both;
}
.character {
	width: 100px;
	max-height: 100px;
	cursor: pointer;
	border-radius: 10px;
}

.form-container {
	width: 665px;
	margin: 0 auto;
}

#character-list {
	float: right;
	width: 350px;
	max-height: 430px;
	overflow-y: scroll;
	padding: 20px;
	margin: 10px 0;
	border-radius: 10px;
	border: 1px solid black;
}

#character-list li {
	min-width: 100px;
	min-height: 100px;
	padding: 0px;
	margin: 0px;
	border-radius: 10px;
	display: inline-block;
}
#character-list label > input {
	display: none;
}

input[type="radio"]:checked + img {
	border: 3px solid white;
	box-shadow: 0px 0px 15px 2px black;
}

/* Map-View Styles */
/*================================================*/
#map-view-container .map-view .container > ul {
	list-style: none;
	min-width: 680px;
	/*max-width: 700px;*/
	margin: 15px auto 0px auto;
	padding-bottom: 20px;
	display: inline-block;
}

#map-view-container .map-view .container > ul li {
	display: inline-block;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	font-size: 1.3em;
	margin: 0px 10px;
	border-radius: 3px;
}

#map-view-container .map-view {
	border-bottom: 1px solid black;
}

#map-view-container .map-view .container {
	width: 840px;
  display: inline-block;
	margin-top: 14px;
	height: 180px;
}

#map-view-container {
   width: 100%;
   text-align: center;
}

.map-view {
	/*padding: 15px;*/
	width: 1175px;
	height: 195px;
	border: 1px solid black;
	margin: 10px auto;
	position: relative;
}

#action-view {
	text-align: center;
	width: 800px;
	height: 350px;
	border: 1px solid black;
	margin: 0px auto 10px auto;
	position: relative;
}

#roll {
	height: 180px;
	margin: 7px;
	float: left;
	display: inline-block;
	width: 220px;
	/* margin-right: 60px; */
	border: 1px solid black;
	border-radius: 3px;
	/* margin-top: 15px; */
}

.roll-choice {
	display: inline-block;
	border: 1px solid black;
	width: 50px;
	height: 50px;
	text-align: center;
	padding-top: 14px;
	font-size: 1em;
	margin: 0px 10px;
	border-radius: 3px;
}

#roll-click {
	padding-top: 20px;
  font-size: 18pt;
  display: inline-block;
  border: 1px solid black;
  border-radius: 70px;
  height: 70px;
  width: 70px;
}

/*Lobby View*/
/*================================================*/
#available {
	float: left;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
}

#unavailable {
	float: right;
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	text-align: center;
	font-size: 1.2em;
}
